.form_wrap{
  .form_title{
    padding: 10px;
  }

  .form{
    button{
      margin-left: 20px;
    }
    .form_cow{
      margin:15px 10px;
      label{
        display: inline-block;
        width: 60px;
      }
  
    }
  }
}