<ul class="header">
    <li>
        <button nz-button nzType="primary" [routerLink]="['/']" >我的商店</button>
    </li>
    <li>
        <button nz-button nzType="primary" [routerLink]="['/cart']" routerLinkActive="active">购物车</button>
    </li>
    <!-- <li>
        <a [routerLink]="['/demo']" routerLinkActive="active">demo</a>
    </li> -->
</ul>
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  -->